:root {
  --main-bg-color: #edba11;
}

* {
  box-sizing: content-box;
  font-family: Molengo;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin-top: calc((98vh - 900px) / 2); */
  height: 95vh;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 32px;
  font-weight: 700;
}

.hideshowtitle {
  visibility: hidden;
  height: 0px;
}

#extratempinfo,
#sun,
#currenttempdiv {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

#extratempinfo div,
#sun div {
  min-width: 120px;
  margin-top: 10px;
}

#currenttempdiv div {
  min-width: 120px;
}

#extratempinfo,
#sun {
  text-align: center;
  font-size: 18px;
  justify-content: start;
  margin-left: 20px;
}

#extratempinfo p,
#sun p,
#currenttempdiv p {
  font-size: 18px;
}

#currenttempdiv {
  align-items: center;
}

#currenttemp {
  text-align: center;
  font-size: 24px;
}

#locationheader {
  font-size: 24px;
  font-weight: bolder;
}

#content {
  width: 800px;
  height: 600px;
  /* margin: auto auto; */
  padding: 20px 40px;
  border: solid 4px white;
  /* flex-grow: 1; */
}

#weathergif {
  min-width: 400px;
  align-self: center;
}

#weathergifimg {
  height: 200px;
  max-width: 360px;
  display: block;
  margin: auto;
}

#loading {
  visibility: hidden;
  text-align: center;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#feelslikediv {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

#note {
  font-size: 8px;
  text-align: center;
}

input[type="text"] {
  border: none;
  border-radius: 0px;
  height: 30px;
  width: 250px;
  font-size: 18px;
  padding: 10px;
}

input[type="submit"] {
  height: 50px;
  width: 85px;
  font-size: 16px;
  border: none;
  outline: none;
  cursor: pointer;
  padding-left: 0px;
  padding-right: 0px;
}

input[type="submit"]:hover {
  background-color: var(--main-bg-color) !important;
}

input:focus-visible {
  outline: none;
}

form {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}

header > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.day {
  /* background-color: #ffea75; */
  background-color: #f3cf58;
}

.night {
  background-color: #2a2f4c;
  color: white;
}

.dayDiv {
  background-color: #fff6c1;
}

.nightDiv {
  background-color: #54586f;
}

#centerdiv {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

#searchbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  width: max-content;
  align-items: center;
  gap: 10px;
}

.la-search {
  padding-left: 10px;
  font-size: 20px;
}

#weathericon {
  width: 860px;
  text-align: right;
  font-size: 75px;
  color: white;
}

footer {
  margin-top: 30px;
  font-weight: bolder;
}

footer a {
  color: white;
}

footer a:hover {
  color: var(--main-bg-color);
}

footer a:visited {
  color: #665c24;
}

/* checkbox slider
/* copied from w3schools */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 58px;
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e7e7e7;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 23px;
  width: 23px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--main-bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--main-bg-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

#switching {
  margin-top: 10px;
  height: 30px;
  display: flex;
  flex-direction: row;
  width: 100px;
  align-items: center;
}
