* {
  box-sizing: content-box;
}

.hideshowtitle {
  visibility: hidden;
  height: 0px;
}

#extratempinfo,
#sun,
#currenttempdiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#content {
  width: 800px;
  height: 800px;
  margin: 100px auto;
}

#weathergifimg {
  max-height: 200px;
}
